[package]
name = "mc-polkit"
version.workspace = true
edition.workspace = true

[dependencies]
tokio = { workspace = true }
zbus = { workspace = true }
tracing = { workspace = true }
thiserror = { workspace = true }
anyhow = { workspace = true }
